src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="hellomuleFlow" doc:id="eba1b2eb-cd35-4ad5-99de-8091f454a3f9" >
		<http:listener doc:name="Listener" doc:id="4e77a163-a3b8-48f0-95f8-152d44f24c92" config-ref="HTTP_Listener_config" path="/hellomule"/>
		<set-payload value="hellomule" doc:name="Set Payload" doc:id="d6f7b949-578a-4a88-929b-e1fabd359c3a" />
		<logger level="INFO" doc:name="Logger" doc:id="3d594daa-b400-4499-83c6-c8a1858a8ad8" message='#[output application/java
---
"Username: " ++ Mule::p("secure::example.username")
++ " - " ++
"Password: " ++ Mule::p("secure::example.password")]'/>
	</flow>
</mule>
